<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

{{- $foundCss := slice -}}
{{- range resources.Match "css/**.css" -}}
    {{- $foundCss = $foundCss | append (path.Base .) -}}
    {{- with . | resources.Fingerprint "sha384" }}
    <link href="{{ .RelPermalink }}" rel="stylesheet" integrity="{{ .Data.Integrity }}">
    {{- end -}}
{{- end -}}

{{- range $name, $link := .Site.Params.css -}}
    {{- if not (in $foundCss $name) }}
        {{ if strings.HasPrefix $link "<link" -}}
            {{/* "> fix syntax highlighting */}}
            {{- $link | safeHTML -}}
        {{ else -}}
            <link rel="stylesheet" href="{{- $link -}}">
        {{- end -}}
    {{- end -}}
{{- end }}
